// COLORS
:root {
}

:root[data-theme='light'] {
}

:root[data-theme='dark'] {
}

// theme
$color-bg: #121212;
$color-bg-5db: hsl(0, 0%, 12%);
$color-font: #fff;

// Font
$font-01: 'Roboto', Sans-serif;
$font-02: Sans-serif;